@{
    ViewBag.Title = "字段列表";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn" murphybuttonname="WorkFlowBillField.Update" href="/WorkFlow/FormManager/FieldUpdate?billId=@ViewBag.BillId">编辑</a>
    </div>
</div>

