@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="/InfoCenter/Dashboard/Index">信息中心</a> <span class="divider">/</span></li>
    <li><a href="/InfoCenter/AccountManage/Index">个人信息</a> <span class="divider">/</span></li>
    <li class="active"> 修改密码 </li>
</ul>
<div>
    <div class="control-group">
        <div class="alert  alert-error hide" style="width:170px">
            <span id="alert-txt"></span>
        </div>
    </div>
    <form action="#" method="post" name="updatePassword" id="updatePassword">
        <label>旧密码:<span class="required"></span></label>
        <p>
            <input name="oldpassword" type="password" id="oldpassword" />
        </p>
        <label>新密码:<span class="required"></span></label>
        <p>
            <input name="newpassword" type="password" id="newpassword" />
        </p>
        <label>重复密码:<span class="required"></span></label>
        <p>
            <input name="comfirmpassword" type="password" id="comfirmpassword" />
        </p>
        <p>&nbsp;</p>
        @*<div id="content_buttons">
            <button class="btn btn-primary" murphybuttonname="UpdatePassword.Confirm" type="submit" name="submit_btn" id="submit_btn" data-loading-text="正在修改..." data-complete-text="修改">修改</button>
        </div>
        <p>&nbsp;</p>*@
    </form>
</div>

<script src="~/media/js/infocenter/account.js"></script>