@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>选中操作权限项</title>
    <link href="~/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/media/themes/blue/default.css" rel="stylesheet" />
    <link href="~/media/ztree/css/jquery.ztree.css" rel="stylesheet" />
    <script src="~/media/jquery/jquery.min.js"></script>
    <script src="~/media/ztree/js/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/media/ztree/js/jquery.ztree.exhide-3.5.min.js"></script>
    <script src="~/media/js/common.js"></script>
</head>
<body style="margin:0px;padding:0px">
    <div>
        <div id="sidetreecontrol"> <a href="javascript:packUpAll()">全部收起</a> | <a href="javascript:expandAll()">全部展开</a> </div>
        <ul id="permissionItemTree" class="ztree"></ul>
    </div>
    <script type="text/javascript">
        var zTreeObj;
        var setting = {
            view: {
                fontCss: getFont,
                nameIsHTML: true
            },
            check: {
                enable: true,
                chkStyle: "radio",
                radioType: "all"
            },
            data: {
                key: {
                    checked: "isChecked"
                },
                simpleData: {
                    enable: true
                }
            }
        };
        function getFont(treeId, node) {
            return node.font ? node.font : {};
        }
        $(document).ready(function () {
            $.ajax({
                url: "/Controls/Public/GetPermissionItemTree?itemId=" + GetQuery("itemId"),
                type: "post",
                dataType: "json",
                success: function (zNodes) {
                    $.fn.zTree.init($("#permissionItemTree"), setting, zNodes);
                    zTreeObj = $.fn.zTree.getZTreeObj("permissionItemTree");
                    zTreeObj.expandAll(true);
                }
            });
        })

        //全部收起
        var packUpAll = function () {
            var permissionItemTreeObj = $.fn.zTree.getZTreeObj("permissionItemTree");
            permissionItemTreeObj.expandAll(false);
        }
        //全部展开
        var expandAll = function () {
            var permissionItemTreeObj = $.fn.zTree.getZTreeObj("permissionItemTree");
            permissionItemTreeObj.expandAll(true);
        }
    </script>
</body>
</html>
