@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>查看日志明细</title>
</head>
<body>
    <div>
        @Html.Raw(ViewBag.FileText)
    </div>
</body>
</html>
