@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户授权</title>
    <link href="~/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/media/themes/blue/default.css" rel="stylesheet" />
    <link href="~/media/themes/blue/table.css" rel="stylesheet" />
    <link href="~/media/ztree/css/jquery.ztree.css" rel="stylesheet" />
    <script src="~/media/jquery/jquery.min.js"></script>
    <script src="~/media/jquery/jquery.form.js"></script>
    <script src="~/media/jquery/jquery.cookie.js"></script>
    <script src="~/media/jquery/jquery.scrollUp.min.js"></script>
    <script src="~/media/jquery/jquery.placeholder.min.js"></script>
    <script src="~/media/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/media/noty/jquery.noty.js"></script>
    <script src="~/media/noty/layouts/center.js"></script>
    <script src="~/media/noty/themes/default.js"></script>
    <script src="~/media/easytabs/jquery.hashchange.min.js"></script>
    <script src="~/media/easytabs/jquery.easytabs.min.js"></script>
    <script src="~/media/artdialog/artDialog.js?skin=blue"></script>
    <script src="~/media/artdialog/plugins/iframeTools.js"></script>
    <script src="~/media/ztree/js/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/media/ztree/js/jquery.ztree.exhide-3.5.min.js"></script>
    <script src="~/media/js/common.js"></script>
</head>
<body style="margin:0px;padding:0px">
    <ul class="breadcrumb">
        <li><a href="javascript:void(0)">基本信息</a> <span class="divider">/</span></li>
        <li><a href="/SysManage/BaseUser/UserList">用户管理</a> <span class="divider">/</span></li>
        <li>用户授权</li>
    </ul>
    <div class="alert">
        <span>当前授权用户：@ViewBag.RealName</span>
        <span>注意事项：权限信息改变之后在缓存有效期内是看不到变化的，需要到缓存设置中更新缓存 </span>
    </div>
    <div id="twitter-bootstrap-container">
        <div id="twitter-bootstrap-tabs">
            <ul class="nav nav-tabs">
                <li><a href="#twitter-module">功能模块</a></li>
                <li><a href="#twitter-button">操作按钮</a></li>
                <li><a href="#twitter-data">数据权限</a></li>
                <li><a href="#twitter-field">字段权限</a></li>
            </ul>
            <div class="panels">
                <div id="twitter-module">
                    <iframe id="userModuleFrame" name="userModuleFrame"
                            width="100%" height="400px" frameborder="0" scrolling="yes"
                            src=""></iframe>
                </div>
                <div id="twitter-button">
                    <iframe id="userButtonFrame" name="userButtonFrame"
                            width="100%" height="400px" frameborder="0" scrolling="yes"
                            src=""></iframe>
                </div>
                <div id="twitter-data">
                    <iframe id="userDataFrame" name="userDataFrame"
                            width="100%" height="400px" frameborder="0" scrolling="yes"
                            src=""></iframe>
                </div>
                <div id="twitter-field">
                    <iframe id="userFieldFrame" name="userFieldFrame"
                            width="100%" height="400px" frameborder="0" scrolling="yes"
                            src=""></iframe>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#twitter-bootstrap-tabs').easytabs();
            $("#userModuleFrame").attr("src", "/SysManage/BaseUser/UserModulePermission?id=" + GetQuery("id"));
            $("#userButtonFrame").attr("src", "/SysManage/BaseUser/UserButtonPermission?id=" + GetQuery("id"));
            $("#userFieldFrame").attr("src", "/SysManage/BaseUser/UserFieldPermission?id=" + GetQuery("id"));
            $("#userDataFrame").attr("src", "/SysManage/BaseUser/UserDataPermission?id=" + GetQuery("id"));
        });
    </script>
</body>
</html>
