@{
    ViewBag.Title = "系统设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="select_guide"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SysManage").attr("class", "active");
        $("#SysBasic").addClass('active');
    })
</script>