@{
    ViewBag.Title = "报表中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="select_guide"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SysReport").attr("class", "active");
  
    })
</script>